{% extends 'base.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock static %}

{% block content %}
<div class="body">
    <div class="body-upper">
        <div class="body-slide"></div>
        <div class="body-forms">
            <div class="forms login">
                <div class="forms-sticky">
                    <div class="forms-title">검사결과조회</div>
                    <div class="input-wrapper">
                        <div class="input-sticky">
                            <input type="text" class="input" placeholder="아이디">
                            <input type="text" class="input input__last" placeholder="비밀번호">
                        </div>
                        <div class="input-btn">LOGIN</div>
                    </div>
                    <div class="forms-footer">
                        <input type="checkbox" class="checkbox">
                        <div class="forms-footer-text">아이디저장</div>
                        <div class="forms-footer-text forms-footer-text__last">아이디/비밀번호 찾기</div>
                    </div>
                </div>
            </div>
            <div class="forms search">
                <div class="forms-sticky">
                    <div class="forms-title">검사항목조회</div>
                    <div class="input-wrapper">
                        <div class="input-sticky">
                            <input type="text" class="input" placeholder="검사명">
                            <input type="text" class="input input__last" placeholder="검색어">
                        </div>
                        <div class="input-btn">SEARCH</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body-lower">
        <div class="body-list">
            <div class="list-content list-content__gray">
                <div class="list-content-img-wrapper">
                    <img src="{% static 'imgs/img/foundation-guide.png' %}" alt="" class="list-content-img">
                </div>
                <div class="list-text">재단안내</div>
            </div>
            <div class="list-content list-content__white">
                <div class="list-content-img-wrapper">
                    <img src="{% static 'imgs/img/network.svg' %}" alt="" class="list-content-img">
                </div>
                <div class="list-text">네트워크</div>
            </div>
            <div class="list-content list-content__gray">
                <div class="list-content-img-wrapper">
                    <img src="{% static 'imgs/img/doctor.svg' %}" alt="" class="list-content-img">
                </div>
                <div class="list-text">전문의</div>
            </div>
            <div class="list-content list-content__white">
                <div class="list-content-img-wrapper">
                    <img src="{% static 'imgs/img/tech-sup.svg' %}" alt="" class="list-content-img">
                </div>
                <div class="list-text">원격지원</div>
            </div>
            <div class="list-content list-content__gray">
                <div class="list-content-img-wrapper">
                    <img src="{% static 'imgs/img/download.svg' %}" alt="" class="list-content-img">
                </div>
                <div class="list-text">양식다운로드</div>
            </div>
        </div>
        <div class="body-site">
            <div class="site-text">FAMILY SITE</div>
            <img src="{% static 'imgs/icons/icon-left.svg' %}" alt="" class="site-img">
            <img src="{% static 'imgs/img/site-1.svg' %}" alt="" class="site-img">
            <img src="{% static 'imgs/img/site-2.svg' %}" alt="" class="site-img">
            <img src="{% static 'imgs/img/site-2.svg' %}" alt="" class="site-img">
            <img src="{% static 'imgs/img/site-4.svg' %}" alt="" class="site-img">
            <img src="{% static 'imgs/img/site-5.png' %}" alt="" class="site-img">
            <img src="{% static 'imgs/img/site-6.png' %}" alt="" class="site-img">
            <img src="{% static 'imgs/icons/icon-right.svg' %}" alt="" class="site-img">
        </div>
    </div>
</div>
{% endblock content %}